body {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #f0f8ff;
  height: 100vh;
  width: 100%;
  font-family: 'Roboto', sans-serif;
  }

  .axis path,
  .axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
  }
  
  #tooltip {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    text-align: center;
    padding: 2px;
    font: 12px;
    box-shadow: 1px 1px 10px;
    border-radius: 2px;
    pointer-events: none;
  }

  .legend {
    /* position:absolute; */
    padding: 5px;
    font: 10px sans-serif;
    background: yellow;
    box-shadow: 2px 2px 1px #888;
}
  